table{
    text-align: center;
    border: 2px solid black;
}
tr:nth-child(2n-1){
    background-color: gainsboro;
}
th{
    background-color: aqua;
    height: 30px;
}
tr>td>img{
    width: 150px;
    height: 150px;
}